<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div align="center">
    <h1>Home Page</h1>
    <p th:text="${session.sessionUser}"></p>
    <p th:text="${session.shoppingCart}"></p>
    <nav>
        <a th:if="${isAdmin}" th:href="@{/admin}">Admin page</a>
        <a th:href="@{/home/products}">Show all products</a>
        <a th:href="@{/cart}">Show Cart</a>
        <a th:href="@{/home/account}">Account</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
    </nav>
    <p th:text="${session?.shoppingCart?.size}"></p>
    <br>
    <form action="#" th:action="@{/home/search}">
        <input type="text" name="name" minlength="3" id="search" autocomplete="off" th:value="${search}"/>
        <input type="submit" value="Search"/>
    </form>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}">Product ID</td>
        <td th:text="${category.name}">Name</td>
        <td>
            <form action="#" th:action="@{/home/category}" method="post">
                <input type="hidden" th:value="${category.id}" name="id"/>
                <button type="submit">Show products</button>
            </form>
        </td>
    </tr>
</div>
</body>
</html>