<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div align="center">
    <h1>Login Page</h1>
    <p th:if="${incorrectUsername}">Incorrect Username</p>
    <form action="#" th:action="@{/login/user}" method="post">
        <input type="text" name="name" placeholder="Enter Username">
        <button type="submit">Login</button>
    </form>
    <form action="#" th:action="@{/signup}" method="get">
        <button type="submit">Sign Up</button>
    </form>
</div>
</body>
</html>