<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Page</title>
</head>
<body>
<div align="center">
    <h1>Order Page - Completed</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}">Product ID</td>
            <td th:text="${order.orderDate}">Name</td>
            <td th:text="${order.status}">Price</td>
            <td th:text="${order.totalPrice}">Category</td>
            <td>
                <form action="#" th:action="@{/admin/order/details}" method="post">
                    <input type="hidden" th:value="${order.id}" name="id"/>
                    <button type="submit">Show details</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <p><a th:href="@{/admin}"><< Admin Page</a></p>
</div>
</body>
</html>