<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
<div align="center" vertical-align="middle">
    <h1>Registration Page</h1>
    <p th:if="${param.success}">Successfully registered!</p>
    <p th:if="${param.error}">Account already exists!</p>
    <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
        <div>
            <input type="email" minlength="2" th:field="*{email}" autocomplete="off" placeholder="Email"/>
        </div>
        <br>
        <div>
            <input type="password" minlength="2" th:field="*{password}" placeholder="Password"/>
        </div>
        <br>
        <button type="submit">Register account</button>
    </form>
    <p><a th:href="@{/login}"><< Login Page</a></p>
</div>
</body>
</html>