<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
</head>
<body>
<div align="center" vertical-align="middle">
    <h1>Register Page</h1>
    <p th:if="${userExists}">User Already Exists</p>
    <p th:if="${userCreated}">User Created Successfully!</p>
    <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
        <div>
            <input type="text" minlength="2" th:field="*{email}" placeholder="Email"/>
        </div>
        <br>
        <div>
            <input type="password" minlength="2" th:field="*{password}" placeholder="Password"/>
        </div>
        <br>
        <button type="submit">Register account</button>
    </form>
    <p><a th:href="@{/login}"><< Login Page</a></p>
</div>
</body>
</html>